<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enter OTP</title>
  </head>
  <body>
    <form class="" action="/checkotp" method="post">
      <input type="text" name="otp" placeholder="Enter the OTP">
      <button type="submit" name="email" value="<%=email%>" >Submit</button>
    </form>
  </body>
</html>
