<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form class="" action="/register" method="post">
      <input type="email" name="email" placeholder="Enter your email">
      <button type="submit" name="button">Verify email</button>
    </form>
  </body>
</html>
